<!DOCTYPE html>
<html>
  <head>
    <title>Cleveland Cubs</title>

    <style>
      html, body { padding: 0; margin: 0; background: #000; }
      body canvas {
        outline: none;
      }
      canvas { display: block; }
    </style>
  </head>
  <body>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/bundle.js?entry=%2FUsers%2Fjosh%2Fdropbox%2Fprojects%2Fthriller%2Fsrc%2Fdance%2Fclient%2Findex.ts"></script>
  </body>
</html>
